<div class="settings-container">
  <mat-tab-group class="settings-tab-group">
    <mat-tab label="Colors">
      <div class="settings-tab">
        <color-input
          label="Color"
          [defaultColor]="qrDataService.qrColor()"
          (colorChanged)="handleColorChange($event)"
        ></color-input>
        <mat-divider></mat-divider>
        <color-input
          label="Background"
          [defaultColor]="qrDataService.qrBackground()"
          (colorChanged)="handleBackgroundChange($event)"
        ></color-input>
      </div>
    </mat-tab>
    <mat-tab label="Style"></mat-tab>
    <mat-tab label="Logo"> </mat-tab>
  </mat-tab-group>
</div>
