<div class="settings-container">
  <mat-tab-group class="settings-tab-group">
    <mat-tab label="Colors">
      <div class="settings-tab">
        <button
          mat-button
          (click)="
            qrStyleStore.updateGradient('dots', {
              enabled: !qrStyleStore.dots.gradient.enabled(),
            })
          "
        >
          <mat-icon>{{
            qrStyleStore.dots.gradient.enabled()
              ? "check_box"
              : "check_box_outline_blank"
          }}</mat-icon>
          Dots
        </button>
        <button
          mat-button
          (click)="
            qrStyleStore.updateGradient('background', {
              enabled: !qrStyleStore.background.gradient.enabled(),
            })
          "
        >
          <mat-icon>{{
            qrStyleStore.background.gradient.enabled()
              ? "check_box"
              : "check_box_outline_blank"
          }}</mat-icon>
          Background
        </button>
        <button
          mat-button
          (click)="
            qrStyleStore.updateGradient('square', {
              enabled: !qrStyleStore.square.gradient.enabled(),
            })
          "
        >
          <mat-icon>{{
            qrStyleStore.square.gradient.enabled()
              ? "check_box"
              : "check_box_outline_blank"
          }}</mat-icon>
          Squares
        </button>
        <button
          mat-button
          (click)="
            qrStyleStore.updateGradient('cornerDot', {
              enabled: !qrStyleStore.cornerDot.gradient.enabled(),
            })
          "
        >
          <mat-icon>{{
            qrStyleStore.cornerDot.gradient.enabled()
              ? "check_box"
              : "check_box_outline_blank"
          }}</mat-icon>
          Square dots
        </button>
        @if (qrStyleStore.dots.gradient.enabled()) {
        <gradient-input
          title="Dots"
          (valueChanged)="
            qrStyleStore.updateGradient('dots', { colorStops: $event })
          "
          [selectedGradientType]="qrStyleStore.dots.gradient.type()"
          (gradientTypeChanged)="
            qrStyleStore.updateGradient('dots', { type: $event })
          "
          [rotation]="qrStyleStore.dots.gradient.rotation()"
          (rotationChanged)="
            qrStyleStore.updateGradient('dots', { rotation: $event })
          "
        ></gradient-input>
        } @else {
        <color-input
          label="Main"
          [defaultColor]="qrStyleStore.dots.color()"
          (colorChanged)="qrStyleStore.update('dots', { color: $event })"
        ></color-input>
        }

        <mat-divider></mat-divider>
        @if (qrStyleStore.background.gradient.enabled()) {
        <gradient-input
          title="Dots"
          (valueChanged)="
            qrStyleStore.updateGradient('background', { colorStops: $event })
          "
          [selectedGradientType]="qrStyleStore.background.gradient.type()"
          (gradientTypeChanged)="
            qrStyleStore.updateGradient('background', { type: $event })
          "
          [rotation]="qrStyleStore.background.gradient.rotation()"
          (rotationChanged)="
            qrStyleStore.updateGradient('background', { rotation: $event })
          "
        ></gradient-input>
        } @else {
        <color-input
          label="Background"
          [defaultColor]="qrStyleStore.background.color()"
          (colorChanged)="qrStyleStore.update('background', { color: $event })"
        >
          <button
            mat-icon-button
            (click)="
              qrStyleStore.update('background', {
                isTransparent: !qrStyleStore.background.isTransparent()
              })
            "
          >
            <mat-icon>{{
              qrStyleStore.background.isTransparent()
                ? "visibility_off"
                : "visibility"
            }}</mat-icon>
          </button>
        </color-input>
        }
        <mat-divider></mat-divider>
        @if (qrStyleStore.square.gradient.enabled()) {
        <gradient-input
          title="Squares"
          (valueChanged)="
            qrStyleStore.updateGradient('square', { colorStops: $event })
          "
          [selectedGradientType]="qrStyleStore.square.gradient.type()"
          (gradientTypeChanged)="
            qrStyleStore.updateGradient('square', { type: $event })
          "
          [rotation]="qrStyleStore.square.gradient.rotation()"
          (rotationChanged)="
            qrStyleStore.updateGradient('square', { rotation: $event })
          "
        ></gradient-input>
        }@else {
        <color-input
          label="Squares"
          [defaultColor]="qrStyleStore.square.color()"
          (colorChanged)="qrStyleStore.update('square', { color: $event })"
        ></color-input>
        }
        <mat-divider></mat-divider>
        @if (qrStyleStore.cornerDot.gradient.enabled()) {
        <gradient-input
          title="Corner dots"
          (valueChanged)="
            qrStyleStore.updateGradient('cornerDot', { colorStops: $event })
          "
          [selectedGradientType]="qrStyleStore.cornerDot.gradient.type()"
          (gradientTypeChanged)="
            qrStyleStore.updateGradient('cornerDot', { type: $event })
          "
          [rotation]="qrStyleStore.cornerDot.gradient.rotation()"
          (rotationChanged)="
            qrStyleStore.updateGradient('cornerDot', { rotation: $event })
          "
        ></gradient-input>
        } @else {
        <color-input
          label="Corner dots"
          [defaultColor]="qrStyleStore.cornerDot.color()"
          (colorChanged)="qrStyleStore.update('cornerDot', { color: $event })"
        ></color-input>
        }
        <mat-divider></mat-divider>
      </div>
    </mat-tab>
    <mat-tab label="Style">
      <div class="flex-aroud">
        <span>Padding</span>
        <mat-slider min="0" max="20" step="1">
          <input
            matSliderThumb
            [value]="qrConfigStore.margin()"
            (valueChange)="qrConfigStore.update({ margin: $event })"
          />
        </mat-slider>
      </div>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Dot type </mat-panel-title>
          <mat-panel-description>
            Currently selected: {{ qrStyleStore.dots.type() }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-button-toggle-group
          class="multiple-choice"
          name="dotType"
          [value]="qrStyleStore.dots.type()"
          aria-label="Dot type"
          (valueChange)="qrStyleStore.update('dots', { type: $event })"
        >
          <mat-button-toggle value="square">Square</mat-button-toggle>
          <mat-button-toggle value="dots">Dots</mat-button-toggle>
          <mat-button-toggle value="classy">Classy</mat-button-toggle>
          <mat-button-toggle value="rounded">Rounded</mat-button-toggle>
          <mat-button-toggle value="classy-rounded"
            >Classy rounded</mat-button-toggle
          >
          <mat-button-toggle value="extra-rounded"
            >Extra rounded</mat-button-toggle
          >
        </mat-button-toggle-group>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Corner square type </mat-panel-title>
          <mat-panel-description>
            Currently selected: {{ qrStyleStore.square.type() }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-button-toggle-group
          name="dotType"
          [value]="qrStyleStore.square.type()"
          aria-label="Dot type"
          (valueChange)="qrStyleStore.update('square', { type: $event })"
        >
          <mat-button-toggle value="dot">Dot</mat-button-toggle>
          <mat-button-toggle value="square">Square</mat-button-toggle>
          <mat-button-toggle value="extra-rounded"
            >Extra rounded</mat-button-toggle
          >
        </mat-button-toggle-group>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Corner dot type</mat-panel-title>
          <mat-panel-description>
            Currently selected: {{ qrStyleStore.cornerDot.type() }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-button-toggle-group
          name="dotType"
          [value]="qrStyleStore.cornerDot.type()"
          aria-label="Dot type"
          (valueChange)="qrStyleStore.update('cornerDot', { type: $event })"
        >
          <mat-button-toggle value="dot">Dot</mat-button-toggle>
          <mat-button-toggle value="square">Square</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="Logo">
      <div class="flex-aroud">
        <span>Upload</span>
        @if (qrIconStore.name() || qrIconStore.src()) {
        <button
          class="file-upload-btn"
          mat-flat-button
          (click)="qrIconStore.reset()"
        >
          {{ qrIconStore.name() }}
          <mat-icon>delete</mat-icon>
        </button>
        } @else {
        <button
          class="file-upload-btn"
          mat-flat-button
          (click)="fileInput.click()"
        >
          {{ "Img" }}
          <mat-icon>upload</mat-icon>
        </button>
        }
        <input #fileInput type="file" (change)="addImage($event)" />
      </div>
      <mat-divider></mat-divider>
      <div class="flex-aroud">
        <span>Size</span>
        <mat-slider min="0.05" max="1" step="0.05">
          <input
            matSliderThumb
            [value]="qrIconStore.size()"
            (valueChange)="qrIconStore.update({ size: $event })"
          />
        </mat-slider>
      </div>
      <mat-divider></mat-divider>
      <div class="icon-margin-options">
        <span>Padding</span>
        <button
          mat-icon-button
          (click)="
            qrIconStore.update({
              hideBackgroundDots: !qrIconStore.hideBackgroundDots()
            })
          "
        >
          <mat-icon>{{
            qrIconStore.hideBackgroundDots() ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        @if (qrIconStore.hideBackgroundDots()) {
        <mat-slider class="slider" min="1" max="10" step="0.5">
          <input
            matSliderThumb
            [value]="qrIconStore.margin()"
            (valueChange)="qrIconStore.update({ margin: $event })"
          />
        </mat-slider>
        } @else {
        <mat-slider class="slider" min="1" max="10" step="1">
          <input
            disabled
            matSliderThumb
            [value]="qrIconStore.margin()"
            (valueChange)="qrIconStore.update({ margin: $event })"
          />
        </mat-slider>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
