@import "./../../../../assets/styles/variables.scss";

input[type="file"] {
  display: none;
}

.settings-tab-group {
  height: 100vh;
  background-color: $secondary-color !important;
  border-radius: 0 0 20px 20px;

  ::ng-deep .mdc-tab {
    &--active {
      .mdc-tab__text-label {
        color: $primary-color;
      }
    }
  }
}

.settings-tab {
  padding: 10px 0;
  border-radius: 0 0 20 20px;
}

.mat-divider {
  width: 95%;
  height: 1px;
  margin: 0 auto;
  background-color: $primary-color;
}

.multiple-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0px;
}

.file-upload-btn {
  max-width: 100%;
  padding: 0 30px;
  border-radius: 5px;
  background-color: $primary-color !important;
}

::ng-deep .mdc-button__label {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex-aroud {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  padding: 5px;
}

.tranparency-btn {
  grid-column: span 2;
  font-size: 2rem;
}

.tranparency-btn-label {
  font-size: 16px;
  margin: 0 15px;
}

.icon-margin-options {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  place-items: center;
}

.slider {
  place-self: center left;
}

.settings-container {
  height: 100%;
}

.qr-type-select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  .mat-mdc-unelevated-button > .mat-icon {
    margin: 0;
  }
}
