@import "./../../../../assets/styles/variables.scss";

input[type="file"] {
  display: none;
}

.settings-container {
  max-width: 100%;
  padding: 0 2% 3% 2%;
}

.settings-tab-group {
  background-color: $secondary-color !important;
  border-radius: 0 0 20px 20px;

  ::ng-deep .mdc-tab {
    &--active {
      .mdc-tab__text-label {
        color: $primary-color;
      }
    }
  }
}

.settings-tab {
  padding: 10px 0;
  border-radius: 0 0 20 20px;
}

.mat-divider {
  width: 95%;
  height: 1px;
  margin: 0 auto;
  background-color: $primary-color;
}

.file-upload-btn {
  padding: 0 30px;
  border-radius: 5px;
  background-color: $primary-color !important;
}

.flex-aroud {
  width: 90%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 5px;
}
