<div class="flex-container">
  <canvas #canvas></canvas>
  <a #download></a>

  <label for="color">Color</label>
  <input
    type="color"
    name="color"
    id="color"
    (input)="handleColorChange($event)"
  />

  <label for="background">Background</label>
  <input
    type="color"
    name="background"
    id="background"
    (input)="handleBackgroundChange($event)"
  />
</div>

<segmented
  class="segmented"
  [options]="errorCodeLevels"
  (optionChanged)="handleErrorCodeLevelChange($event)"
></segmented>

<textarea
  #qrTextarea
  class="qr-textarea"
  [value]="qrValue()"
  (click)="qrTextarea.select()"
  (input)="handleTextareaChange(qrTextarea.value)"
></textarea>

<div class="file-upload-container">
  <label for="fileInput" class="action-btn" [class.uploaded]="qrIconName()">
    {{ qrIconName() || "Upload icon" }}
  </label>
  <input id="fileInput" type="file" (change)="addImage($event)" />
  @if (qrIconName() || qrIcon()) {
  <button class="file-upload-deletebtn" nz-button (click)="resetIcon()">
    <span nz-icon nzType="delete"></span>
  </button>
  }
</div>

<div class="button-container">
  <button mat-fab extended (click)="downloadQR()">Download</button>
  <button mat-mini-fab extended (click)="copyToClipboard()">Copy</button>
</div>
