<div class="flex-container">
  <canvas #canvas></canvas>
  <a #download></a>

  <label for="color">Color</label>
  <input
    type="color"
    name="color"
    id="color"
    [value]="qrColor()"
    (input)="handleColorChange($event)"
  />

  <label for="background">Background</label>
  <input
    type="color"
    name="background"
    id="background"
    [value]="qrBackground()"
    (input)="handleBackgroundChange($event)"
  />
  <button mat-mini-fab (click)="handleToggleTransparency()">
    @if (qrTransparent()) {
    <mat-icon>visibility</mat-icon>
    } @else {
    <mat-icon>visibility_off</mat-icon>
    }
  </button>
</div>

<segmented
  class="segmented"
  [options]="errorCodeLevels"
  (optionChanged)="handleErrorCodeLevelChange($event)"
></segmented>

<textarea
  #qrTextarea
  class="qr-textarea"
  [value]="qrValue()"
  (click)="qrTextarea.select()"
  (input)="handleTextareaChange(qrTextarea.value)"
></textarea>

<div class="upload">
  @if (qrIconName() || qrIcon()) {
  <button class="file-upload-deletebtn" mat-flat-button (click)="resetIcon()">
    {{ qrIconName() }}<br />
    <mat-icon>delete</mat-icon>
  </button>
  } @else {
  <button (click)="fileInput.click()" mat-flat-button>
    {{ "Img" }}
    <mat-icon>upload</mat-icon>
  </button>
  }
  <input #fileInput id="fileInput" type="file" (change)="addImage($event)" />
</div>

<div class="button-container">
  <button mat-mini-fab extended (click)="downloadQR()">
    Download
    <mat-icon>download</mat-icon>
  </button>
  <button mat-mini-fab extended (click)="copyToClipboard()">
    {{ isCurrentlyCopied() ? "Copied!" : "Copy" }}
    <mat-icon>content_copy</mat-icon>
  </button>
</div>

<button mat-mini-fab extended (click)="saveQR()">
  Save
  <mat-icon>save</mat-icon>
</button>
