input[type="file"] {
  display: none;
}

.action-btn {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

  &:hover {
    color: #1890ff;
    border: 1px solid #1890ff;
  }

  &.uploaded {
    background-color: #449d68;
    color: #fff;
  }
}

.file-upload-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.file-upload-deletebtn {
  min-width: min-content;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  gap: 10px;
}

button:not(.file-upload-deletebtn) {
  width: 100px;
}

.qr-textarea {
  width: 90%;
  resize: vertical;
  margin: 10px auto;
  display: block;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}

.segmented {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
