<div class="container theme-yellow">
  <input
    [value]="value()"
    #colorInput
    type="color"
    (input)="handleInput($event)"
  />
  <label class="color-label" [for]="colorInput" (click)="colorInput.click()">{{
    label()
  }}</label>
  <div class="container">
    <ng-content></ng-content>
    <input
      #colorStringInput
      placeholder="#HEX"
      class="color-string"
      [value]="value()"
      (focus)="colorStringInput.select()"
      (input)="handleInput($event)"
      type="text"
    />
  </div>
</div>
