@import "./../assets/styles/variables.scss";

.main-container {
  width: 300px;
  min-height: 535px;
  border: 2px solid #948585;
  border-radius: 5px;
}

.tab-group {
  ::ng-deep .mat-mdc-tab-header {
    background-color: $secondary-color !important;
  }
}

.tab-label {
  background-color: $secondary-color !important;
}
