@import "./../assets/styles/variables.scss";

.main-container {
  width: 98vw;
  max-width: 600px;
  box-sizing: border-box;
  min-height: 535px;
  border-radius: 5px;
}

.tab-group {
  ::ng-deep .mdc-tab {
    &--active {
      .mat-icon {
        color: $primary-color;
      }
    }
    background-color: $secondary-color;
  }
}

.tab-label {
  background-color: $secondary-color !important;
}
