<div class="feedback-text-container">
  <h1>We’d Love Your Feedback!</h1>

  <p>
    Your thoughts and suggestions help us make this project better every day. If
    you’d like to share your feedback, report an issue, or suggest new features,
    feel free to reach out at:
  </p>
  <a href="mailto: {{ email }}"> 📧 {{ email }} </a>

  <h1>Support This Project 💖</h1>
  If you enjoy using this extension and want to help keep it growing, consider
  supporting us! Your donations directly help fund development and maintenance.

  <p>☕ Donate via Stripe</p>
  <p>Thank you for being part of this journey! 🚀</p>
</div>
