@use "@angular/material" as mat;
@use "./assets/styles/m3-theme.scss" as m3;
@import "./assets/styles/variables.scss";

@include mat.elevation-classes();
@include mat.app-background();

.material-theme {
  @include mat.all-component-themes(m3.$primary-theme);
  @include mat.fab-color(m3.$secondary-theme);
  @include mat.button-color(m3.$secondary-theme);
}

html,
body {
  margin: 0;
  height: 100%;

  &::-webkit-scrollbar {
    border-radius: 2px;
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $primary-color;
  }
}

span {
  font-family: Arial, Helvetica, sans-serif;
}
