$primary-color: var(--primary-color, #706bf2);
$secondary-color: var(--secondary-color, #f4d952);
$tertiary-color: var(--tertiary-color, #222222);

// Alternative colors:
// #E6C529 #4D4A91
// #CFE600 #673091
// #E6A22D #4D6E91
// #E6A22D #5A9DE6
